<div th:fragment="footer" class="container-fluid p-0">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-3 py-3 border-top">
        <div class="col mb-3 flex-column align-items-center text-center">
            <a href="/" class="align-items-center mb-3 link-body-emphasis text-decoration-none">
                <img src="image/icons8-winter-80.png" class="img-fluid" alt="LOGO">
            </a>
            <h4>ALLO<br> DÉNEIGEMENT
                <a><i></i></a>
            </h4>
            <p>© 2024</p>
        </div>
        <div class="col mb-3">
            <h3 >NOS COORDONNÉES</h3>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="mailto:allodeneigement@gmail.com" class="link-light p-0 d-flex align-items-center ">
                        <img src="image/icons8-email-50.png" class="img-fluid me-2" width="40" height="30" alt="Email">
                        allodéneigement@gmail.com
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <img src="image/icons8-phone-50.png" class="img-fluid me-2" width="40" height="30" alt="Phone">
                    <span>514-***-****</span>
                </li>
                <li class="nav-item mb-2">
                    <img src="image/icons8-home-50.png" class="img-fluid me-2" width="40" height="30" alt="Home">
                    <span>514 rue montreal</span>
                </li>
            </ul>
        </div>
        <div class="col mb-3">
            <h3 >SUIVEZ NOUS</h3>
            <h5>FOLLOW US:</h5>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
    </footer>
</div>