<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/webjars/font-awesome/6.5.1/css/all.css" rel="stylesheet" />



    <link rel="stylesheet" href="style/main.css" />
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
  </head>
</html>
