<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/head::head}" />
<body class="d-flex text-dark flex-column vh-100 align-items-center">
<div th:replace="~{commons/navbar::navbar}"></div>
<div class="my-5">
    <table id="showData" class="table table-striped nowrap table-hover">
        <thead>
        <tr class="sticky">
            <th>Id</th>
            <th>Service</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Status</th>
            <th>Fournisseur</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
    <script src="scripts/load-table.js"></script>
</div>
<div th:replace="~{commons/footer::footer}"></div>
</body>
</html>