<div th:fragment="about" class="about-page">
    <div class="py-5 my-5" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('image/deneigement.png'); background-size: cover; background-position: center;">
        <div class="row">
        <div class="col-6 m-auto">
            <div class="text-center">
                <h1>À PROPOS DE NOUS</h1>
                <p>Allo Déneigement est une plateforme qui rassemble plusieurs entreprises de déneigement aux alentours de Montréal.
                    Nous offrons des services de déneigement résidentiel et commercial dans la région,
                    vous permettant ainsi de profiter de la saison froide dans les meilleures conditions.
                    Notre objectif est de simplifier le processus de recherche d'entreprises de déneigement fiables et efficaces en mettant à votre disposition une sélection de professionnels qualifiés.
                    Que vous ayez besoin de déneiger votre propriété résidentielle ou de maintenir un espace commercial dégagé,
                    Allo Déneigement vous connecte avec des entreprises compétentes et expérimentées.
                    Profitez d'un service de qualité pour assurer la sécurité et la praticabilité de vos espaces extérieurs pendant les mois d'hiver.
                </p>
            </div>
        </div>
        </div>
    </div>
</div>