<div th:fragment="customer-review-section" class="container text-black p-3 vh-100">
  <div class="container text-center my-3">
    <div class="row mx-auto my-auto">
      <div id="recipeCarousel" class="carousel slide w-100">
        <div class="carousel-inner w-100 mt-5" role="listbox">
          <div class="carousel-item active">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="image/avatar.svg" style="width: 70px;height: 70px;" class="img-fluid img-thumbnail mx-auto rounded-circle mt-5 border border-2 border-dark" alt="avatar">
                <div class="card-body">
                  <h5 class="card-title">"Service impeccable"</h5>
                  <div class="d-flex justify-content-center mb-3">
                    <div class="content text-center">
                      <div class="ratings">
                        <span class="product-rating">4.6</span><span>/5</span>
                        <div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="card-text">Super travail pour mon parking, rapide et efficace.</p>
                  <a href="#" class="btn">Savoir plus <i class="fa-solid fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="image/avatar-2.jpg" style="width: 70px;height: 70px;" class="img-fluid img-thumbnail mx-auto rounded-circle mt-5 border border-2 border-dark" alt="avatar">
                <div class="card-body">
                  <h5 class="card-title">"Bof..."</h5>
                  <div class="d-flex justify-content-center mb-3">
                    <div class="content text-center">
                      <div class="ratings">
                        <span class="product-rating">3.6</span><span>/5</span>
                        <div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="card-text">Pas tres reactif, beaucoup de feuilles encore a ramasser...</p>
                  <a href="#" class="btn">Savoir plus <i class="fa-solid fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="image/avatar-1.jpg" style="width: 70px;height: 70px;" class="img-fluid img-thumbnail mx-auto rounded-circle mt-5 border border-2 border-dark" alt="avatar">
                <div class="card-body">
                  <h5 class="card-title">"Bon boulot!"</h5>
                  <div class="d-flex justify-content-center mb-3">
                    <div class="content text-center">
                      <div class="ratings">
                        <span class="product-rating">4.6</span><span>/5</span>
                        <div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="card-text"></p>
                  <a href="#" class="btn">Savoir plus <i class="fa-solid fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="image/avatar.svg" style="width: 70px;height: 70px;" class="card-img-top mx-auto rounded-circle mt-5 border border-2 border-dark" alt="avatar">
                <div class="card-body">
                  <h5 class="card-title">"Service impeccable"</h5>
                  <div class="d-flex justify-content-center mb-3">
                    <div class="content text-center">
                      <div class="ratings">
                        <span class="product-rating">4.6</span><span>/5</span>
                        <div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="card-text">Super travail pour mon parking, rapide et efficace.</p>
                  <a href="#" class="btn">Savoir plus <i class="fa-solid fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="image/avatar.svg" style="width: 70px;height: 70px;" class="card-img-top mx-auto rounded-circle mt-5 border border-2 border-dark" alt="avatar">
                <div class="card-body">
                  <h5 class="card-title">"Service impeccable"</h5>
                  <div class="d-flex justify-content-center mb-3">
                    <div class="content text-center">
                      <div class="ratings">
                        <span class="product-rating">4.6</span><span>/5</span>
                        <div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="card-text">Super travail pour mon parking, rapide et efficace.</p>
                  <a href="#" class="btn">Savoir plus <i class="fa-solid fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="image/avatar.svg" style="width: 70px;height: 70px;" class="card-img-top mx-auto rounded-circle mt-5 border border-2 border-dark" alt="avatar">
                <div class="card-body">
                  <h5 class="card-title">"Service impeccable"</h5>
                  <div class="d-flex justify-content-center mb-3">
                    <div class="content text-center">
                      <div class="ratings">
                        <span class="product-rating">4.6</span><span>/5</span>
                        <div class="stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="card-text">Super travail pour mon parking, rapide et efficace.</p>
                  <a href="#" class="btn">Savoir plus <i class="fa-solid fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev w-auto" type="button" data-bs-target="#recipeCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next w-auto" type="button" data-bs-target="#recipeCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <script src="scripts/review-carousel.js"></script>
</div>
