<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/head::head}"/>
<head th:replace="~{commons/navbar::navbar}"/>
<body class="d-flex flex-column vh-100 " style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('image/snow-plow.jpg'); background-size: cover; background-position: center;">
<div class="login container mt-auto fw-bold">
    <div class="form-signin m-auto col-sm-6">
        <form novalidate class="needs-validation">
            <img class="shadow mb-4" src="ice-logo.png" alt="" width="57" height="57">
            <h1 class="mb-3 deep-shadow text-center">CONNEXION</h1>
            <div class="form-floating text-uppercase">
                <input type="email" class="form-control border border-3 border-light rounded-0 mb-2" id="floatingInput" placeholder="name@example.com" required>
                <div class="invalid-feedback">
                    Saississez une adresse courriel valide.
                </div>
            </div>
            <div class="form-floating text-uppercase">
                <input type="password" class="form-control border border-3 border-light rounded-0" id="floatingPassword" placeholder="mot de passe" required>
            </div>
            <div class="form-check text-start my-3 text-uppercase">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-label" for="flexCheckDefault">
                    Se souvenir de moi
                </label>
            </div>
            <button id="login-btn" class="btn w-100 py-2 btn-light btn-lg" type="submit">Connexion</button>
            <p class="mt-5 mb-3 text-body-secondary">© 2023</p>
        </form>
    </div>
</div>
<head th:replace="~{commons/footer::footer}"/>
<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})();
</script>
</body>
</html>