:root {
  --primary-color: #b50303;
  --primary-color-light: #d26767;
  --primary-color-light-shadow: rgba(210, 103, 103, 0.463);
  --primary-color-dark: #810000;
  --primary-font: HelveticaNeue, Helvetica Neue, helvetica, Sans-Serif;
  --primary-text-color-black: black;
  --font-weight-light: 100;
  --font-weight-bold: 900;
  --text-align: center;
}

body {
  font-family: var(--primary-font);
  font-size: 24px;
  background-color: #f4f4f4;
  color: var(--primary-text-color-black);
  margin: 0;
}

footer {
  background-color: var(--primary-color);
}

footer h3,
footer h4,
footer h5,
.login h1,
#login-btn {
  font-weight: var(--font-weight-bold);
}

footer h5 {
  color: var(--primary-text-color-black);
}

ul {
  color: var(--primary-text-color);
}

footer p {
  color: var(--primary-text-color);
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.logo {
  width: 140px;
  height: 180px;
  text-align: center;
}

.section-title {
  font-weight: bold;
}

.form-control:focus {
  border-color: #ff0000;
  box-shadow: inset 0 1px 1px var(--primary-color), 0 0 8px var(--primary-color);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.form-check-input:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color), 0.25);
}

#login-btn {
  transition: transform 0.2s;
}

#login-btn:hover {
  transform: scale(0.99);
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.form-control::placeholder {
  color: black !important;
  font-weight: var(--font-weight-bold);
}

.deep-shadow {
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

.container .row {
  margin-top: 150px;
  margin-bottom: 100px;
  overflow-wrap: break-word;
}

.search-box {
  width: 80%;
  height: 90%;
}

.nav-link {
  color: var(--primary-color);
}

.nav-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.contact-page {
  font-family: var(--primary-font);
  font-size: 24px;
  color: black;
}

.about-page {
  font-family: var(--primary-font);
  font-size: 20px;
  color: black;
}

.about-img {
  filter: opacity(50%);
  width: 100%;
  max-width: 100%;
  height: 500;
  display: block;
  margin: 0 auto;
  background-size: cover;
}

.about-page h1 {
  font-weight: 700;
  padding-top: 5rem;
}

.about-page p {
  padding-bottom: 5rem;
}

.list-group-item.active {
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }

  .carousel-inner .carousel-item-start,
  .carousel-inner .carousel-item-end {
    transform: translateX(0);
  }
}

/* Ratings */
.carousel-inner .content {
  width: 420px;
  margin-top: 1rem;
}

.carousel-inner .ratings {
  background-color: #fff;
  padding: 54px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px #e0e0e0;
}

.carousel-inner .product-rating {
  font-size: 50px;
}

.carousel-inner .stars i {
  font-size: 18px;
  color: var(--primary-color);
}

.carousel-inner .btn,
#searchButton {
  color: #fff;
  background-color: var(--primary-color);
  border: none;
}

section.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
}

section.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  section.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }

  section.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
}

.ad-service {
  background: var(--primary-color-light);
}

.ad-service .card {
  border: none;
  padding: 10px 50px;
}

.ad-service .card::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ad-service .card:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important;
}

.ad-service .card:hover::after {
  opacity: 1;
}

.ad-service .btn-lg {
  border-radius: 5px;
}

.ad-service .card:hover .btn {
  color: white;
  background: var(--primary-color-light);
}

.dataTables_filter {
  display: none;
}

.dataTables_length {
  margin-bottom: 1rem;
}

#showData_wrapper {
  font-size: 1rem;
}


/* Soumission offre */

#soumission-container {
  max-width: 80vh;
}

#soumission-container button {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

#soumission-container .btn:focus {
  box-shadow: 0 0 0 0.25rem var(--primary-color-light-shadow);
}

#soumission-container .btn:hover {
  background-color: var(--primary-color-dark);
}

#soumission-container .recapitulatif {
  border: 2px solid black;
  border-radius: 15px;
  padding: 2rem;
  font-size: 1rem;
}

#soumission-container .recapitulatif h2 {
  margin-top: 1rem;
  font-size: 1.1rem;
}


.progress {
  width: 80%;
}

.progress-bar {
  background-color: var(--primary-color);
}

.step-container {
  position: relative;
  text-align: center;
  transform: translateY(-43%);
  width: 100%;
}

.step-container h5 {
  font-size: 1rem;
  font-weight: 600;
}

.step-container>div {
  width: 40%;
  margin: 0 .5rem;
  padding: 1rem;
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid var(--primary-color) !important;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  /* Added cursor pointer */
}

.step-line {
  position: absolute;
  top: 16px;
  left: 50px;
  width: calc(100% - 100px);
  height: 2px;
  background-color: var(--primary-color) !important;
  z-index: -1;
}

#multi-step-form {
  overflow-x: hidden;
}

/* fournisseur */

.accordion-button:focus {
  color: var(--primary-color) !important;
  box-shadow: 0 0 0 0.25rem rgba(181, 3, 3, 0.25) !important;
}

.accordion-button:not(.collapsed) {
  color: var(--primary-color-light);
  background-color: rgba(181, 3, 3, 0.25) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}